<title>设置</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a><cite>应用</cite></a>
        <a><cite>自习室预约系统</cite></a>
        <a><cite>设置</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">座位分布图</div>
        <div class="layui-card-body">
            <button type="button" class="layui-btn" id="SeatMap">
                <i class="layui-icon">&#xe67c;</i>上传图片
            </button>
        </div>
    </div>
</div>

<script>
    layui.use(['admin', 'upload'], function () {
        var $ = layui.$
            , admin = layui.admin
            , view = layui.view
            , upload = layui.upload;

        //执行实例
        var uploadInst = upload.render({
            elem: '#SeatMap' //绑定元素
            , url: '/upload/' //上传接口
            , done: function (res) {
                //上传完毕回调
            }
            , error: function () {
                //请求异常回调
            }
        });

        $('.layui-btn.layuiadmin-btn-list').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>